@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="jumbotron" style="text-align: center;">
    <h1>SuperAdmin Dashboard.</h1>
    <h4 class="lead" style="text-align: center;">
        <b><u>@User.Identity.GetUserName()</u></b>
    </h4>
    <hr />
    <div style="padding:5px; border: 1px solid black; background-color: seagreen;" class="row">
        <p>Manage Your Website.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="container">

        <div class="col-md-3 col-md-9" style="border-right: 1px solid black;">
            <h2 style="border: 1px solid black; text-align: center;">Menu</h2>
            <h4><u>Store Information Menu</u> </h4>
            <br />
            @Html.ActionLink("Manage Products", "Index", "Products", null, new { @class = "btn btn-default" })<br /><br />
            @Html.ActionLink("Manage Brands", "Index", "Brands", null, new { @class = "btn btn-default" })<br /><br />
            @Html.ActionLink("Manage Categories", "Index", "Categories", null, new { @class = "btn btn-default" })
            <br />
            <br />

            <h4><u>Customers Menu</u></h4>
            <br />
            @Html.ActionLink("Manage All Cutsomer Users", "customerIndex", "SuperAdmin", null, new { @class = "btn btn-default" })
            <br />
            <hr />
            <h4><u>Roles Menu</u></h4>
            <br />
            @Html.ActionLink("Manage User Roles", "UsersWithRoles", "AppUsers", null, new { @class = "btn btn-default" })<br /><br />
            @Html.ActionLink("Manage Roles", "Index", "Role", null, new { @class = "btn btn-default" })
            <br />
            <hr />
        </div>
        <div class="col-md-9" style="background-color: silver; padding:5px;">
            @*<h1 style="border: 1px solid black; text-align: center;"><u>SuperAdmin To-Do List</u></h1>*@
            <br />
            <br />
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h3><u>Stock Management</u></h3>
                <br />
                
                <p>
                    @Html.ActionLink("Inventory management", "ListIndex", "Inventory", null, new { @class = "btn btn-primary" })
                </p>
            </div>
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h3><u>Orders & Shopping</u></h3>
                <br />
                
                <p>
                    @Html.ActionLink("All Orders List", "Index", "Orders", null, new { @class = "btn btn-primary" })
                </p>
            </div>
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h3><u>Delivery & Shipping</u></h3>
                <br />
                
                <p>
                    @Html.ActionLink("Delivery Management", "DeliverySystemIndex", "SuperAdmin", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
        <br />
        <hr />
        <div class="col-md-9" style="background-color: silver; padding:5px;">
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h4><u>Discounts</u></h4>
                <br />
                
                <p>
                    @Html.ActionLink("Manage Discount", "#", "#", null, new { @class = "btn btn-danger" })
                    <hr />
                    Add Or remove Discount From a product.
                </p>
            </div>
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h4><u>Specials</u></h4>
                <br />
                
                <p>
                    @Html.ActionLink("Manage Specials", "#", "#", null, new { @class = "btn btn-danger" })
                    <hr />
                    Add Or remove Special From a product.
                </p>
            </div>
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h4><u>Features</u></h4>
                <br />
                <p>
                    @Html.ActionLink("Manage Features", "#", "#", null, new { @class = "btn btn-danger" })
                    <hr />
                    Add Or remove Features From a product.
                </p>
            </div>
        </div>
    </div>
</div>
