@model MyBookingRoles.Models.Store.Order
@using MyBookingRoles.Models.Store
@{
    ViewBag.Title = Model.OrderName + "-Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2><u>Order ID @Model.OrderId Details</u></h2>

<div class="row" style="background-color: silver;">
    <h4><b>Order Name : </b><u>@Html.DisplayFor(model => model.OrderName)</u></h4>

    <div class="col-md-6">
        <ul class="dl-horizontal form-inline list-unstyled">
            <li>
                Order Date : @Html.DisplayFor(model => model.OrderDate)
            </li>
            <li>
                Payment Type : @Html.DisplayFor(model => model.PaymentType)
            </li>
            <li>
                Payment Amount : R @Html.DisplayFor(model => model.PaymentAmount)
            </li>
            
            <li><br />
                <b>Status</b>
                <h2 style="background-color: green;">
                    @Html.DisplayFor(model => model.Status)
                </h2>
            </li>
            
            <li><h3><b><u>Customer Information</u></b></h3></li>
            <li>
                <br />
                Contact Name : <b>@Html.DisplayFor(model => model.CustomerName)</b>
            </li>
            <li>
                Phone Number : @Html.DisplayFor(model => model.CustomerPhone)
            </li>
            <li>
                Email : @Html.DisplayFor(model => model.CustomerEmail)
            </li>
            <li>
                Delivery Address : <b>@Html.DisplayFor(model => model.CustomerAddress)</b>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <div style="text-align: center;">
            <h2><u>Confirm Delivery</u></h2>
            <br />
            <div>
                <img class="img img-responsive" alt="BarCode" style="background-color:white;" />
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">

    <h3>Order Details Product List</h3>
    <h4><u>Total Order Price : R @Model.PaymentAmount</u></h4>
    <table class="table table-bordered table-hover table-condensed" id="UsersWithRoles">
        <tr>
            <th style="background-color: gray;"></th>
            <th>Product Name</th>
            <th class="hidden">Product Id</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td style="background-color: gray;">
                    @Html.ActionLink("Product Details", "ProductDetails", "Store", new { id = item.ProdId }, new { @class = "btn btn-success" })
                </td>
                <td>@item.ProdName</td>
                <td class="hidden">@item.ProdId</td>
                <td>@item.Quantity -item(s)</td>
                <td>R @item.Price</td>
            </tr>
        }

    </table>
    <br />
</div>

<div style="text-align:center;">
    @if (User.IsInRole("SuperAdmin"))
    {
        <p>
            @Html.ActionLink("Back to Order List", "Index", "Orders", null, new { @class = "btn btn-primary" })
            |
            @Html.ActionLink("Approve Order!", "ApproveOrder", "Orders", new { id = Model.OrderId }, new { @class = "btn btn-success" })
            |
            @Html.ActionLink("Delete Order!", "DeleteOrder", "Orders", new { id = Model.OrderId }, new { @class = "btn btn-danger" })
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Back to My Orders", "customerOrders", "MyUser", null, new { @class = "btn btn-primary" })
            |
            @Html.ActionLink("Cancel Order", "DeleteOrder", "MyUser", new { id = Model.OrderId }, new { @class = "btn btn-danger" })
        </p>
    }
</div>

<hr />
<p>
    <h2>To Do List</h2>
    <ul>
        <li>Delete Order & Order Details</li>
        <li>Approve order & Changing Order Status</li>
        <li>Have notification for each process.</li>
        <li>Have notification for status changes</li>
    </ul>
</p>
