@model IEnumerable<MyBookingRoles.Models.Store.Product>

@{
    ViewBag.Title = "List Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using (Html.BeginForm("ProdCatalogue", "Store", FormMethod.Get))
{
    <div class="row" style="background-color: black; padding: 10px;">
        <div class="col-md-2">
            <h4>Categ</h4>
        </div>
        <div class="col-md-2">
            @Html.DropDownList("movieGenre", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("prodCategory", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.TextBox("searchWord", null, null, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search Product" class="btn btn-success" />
        </div>
    </div>
}

<div class="jumbotron" style="text-align: center; padding: 10px;">
    <h2>Inventory Management</h2>
    <div style="padding: 5px;">
        <p>
            @Html.ActionLink("Manage Discount", "#", "#", null, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Manage Specials", "#", "#", null, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Manage Features", "#", "#", null, new { @class = "btn btn-success" })
        </p>
        <br />
        <p style="background-color: aqua;">Product Quantity <b>Sum : @ViewBag.prodQ</b> | Out of Stock Product <b>Sum : @ViewBag.ordQ</b></p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" style="padding: 5px; border-top: 2px solid black;">
        @foreach (var item in Model)
        {
            var base64 = "";
            var imgsrc = "";

            <div class="col-md-2" style="text-align:center; border: 1px solid black; padding: 5px;">

                @if (item.ProductPics != null)
                {
                    base64 = Convert.ToBase64String(item.ProductPics);
                    imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                    <img src='@imgsrc' class="img-responsive" />
                }
                <br />
                <div style="border: 1px dotted white;">

                    <h4>
                        <b><u>@Html.DisplayFor(modelItem => item.ProductName)</u></b>
                    </h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.InStoreQuantity) &nbsp;
                        | &nbsp;
                        @Html.DisplayFor(modelItem => item.IsVisible)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </p>
                </div>
                <br />
                <p style="text-align:center;">
                    @Html.ActionLink("Add Quantity", "AddQuantity", new { id = item.ProductID }, new { @class = "btn btn-success" })<br />
                    @Html.ActionLink("Add Special", "#", new { id = item.ProductID }, new { @class = "btn btn-danger" })<br />
                    @Html.ActionLink("Add To Feature", "#", new { id = item.ProductID }, new { @class = "btn btn-danger" })<br />
                    @Html.ActionLink("Add To Discount", "AddToDiscounts", "Discount", new { prodId = item.ProductID }, new { @class = "btn btn-primary" })

                </p>
            </div>
            <br />
        }
    </div>

    <div class="col-md-12">
        <hr />
        <br />
        <div class="row">
            @Html.ActionLink("Back To SuperADmin", "Index", "SuperAdmin", null, new { @class = "btn btn-primary" })

        </div>
    </div>
</div>